<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>词友</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="/js/ciyou.js"></script>
    <link href="/css/ciyou.css" rel="stylesheet">
</head>
<body>
    <div id="canvas">
        <div id="header">
            <div id="title">词友</div>
        </div>
        <div id="container">
            <div id="show_card" class="card">
                <div id="word">prodigious</div>
                <div id="splitter"></div>
                <div id="pronounciation">[prə'didʒəs]</div>
                <div id="explanation">adj. 巨大的,奇异的; n. 奇迹</div>
            </div>
            <div id="test_card" class="card">
                <div id="word">prodigious</div>
                <div id="pronounciation">[prə'didʒəs]</div>
                <div id="answer">
                     <div id="yes_button" class="answer-button btn btn-success">&Omicron;</div>
                     <div id="no_button" class="answer-button btn btn-danger">&#10006;</div>
                 </div> 
            </div>
            <div id="choice_card" class="card">
                <div id="word">prodigious</div>
                <div id="pronounciation">[prə'didʒəs]</div>
                <div id="answer">
                    <div>
                        <div id="a_button" class="choice-button btn">A</div>
                        <div class="choice_explanation"> adj. 巨大的,奇异的; n. 奇迹</div>
                    </div>                    
                    <div>
                        <div id="b_button" class="choice-button btn">B</div>
                        <div class="choice_explanation"> n. 肥胖, 臃肿</div>
                    </div>
                    <div>
                        <div id="b_button" class="choice-button btn">C</div>
                        <div class="choice_explanation"> n. 原始人类 adj. 灵长类的</div>
                    </div>
                    <div>
                        <div id="d_button" class="choice-button btn">D</div>
                        <div class="choice_explanation"> adj. 无法摆脱的, 纠缠的</div>
                    </div>
                 </div> 
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
