html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #E0E0E0;
}
#canvas {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    width: 100%;
    height: 40px;
    bottom: 20px;
    box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    margin-bottom: 60px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#title {
    margin-left: 20px;
    margin-right: 20px; 
    height: 40px;
    line-height: 40px;
    font-family: "Arial";
    font-size: 20px;
    text-shadow: 0 0 0.2em #FFF;

    color: #FFFFFF;
}
.card {
    margin-top: 20px;
    width: 520px;
    height: 320px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    padding: 40px;
    text-align: center;
    border-radius: 5px;
}

#show_card > #word {
    font-family: "Arial";
    font-size: 60px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 159px;
    line-height: 159px;
}
#show_card > #splitter {
    height: 2px;
    background-image: -webkit-linear-gradient(left, #FFFFFF, #111, #FFFFFF); 
}
#show_card > #pronounciation {
    font-family: "Arial";
    font-size: 30px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 59px;
    line-height: 59px;
    float: bottom;
}
#show_card > #explanation {
    font-family: "Arial";
    font-size: 30px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 100px;
    float: top;
}

#test_card > #pronounciation {
    font-family: "Arial";
    font-size: 30px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 59px;
    float: bottom;
}
#test_card > #word {
    font-family: "Arial";
    font-size: 60px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 80px;
    margin-top: 80px;
}
#test_card > #answer {
    height: 160px;
    width: 120px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
#choice_card > #word {
    font-family: "Arial";
    font-size: 60px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 80px;
    margin-top: 20px;
}

#choice_card > #pronounciation {
    font-family: "Arial";
    font-size: 30px;
    text-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
    height: 59px;
    float: bottom;
}
.answer-button {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 40px;
    font-family: Arial;
    text-align: center;
    line-height: 40px;
    color: white;
}
.choice-button {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
    color: black;
}
.choice_explanation {
    font-size: 20px;
    font-family: Arial;
}
#choice_card > #answer {
    height: 160px;
    width: 520px;
}
#choice_card > #answer > div {
    display: inline;
    width: 520px;
    height: 40px;
    float: left;
}

